@import "../../assets/styles/_variables.scss";
@import "../../assets/styles/_theme.scss";

.filter {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 100%;
  padding: 0;
  margin: 0;

  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;
}

.column {
  flex: 1 1 200px;
  display: flex;
  align-items: center;
  height: $data-cell-height;
  text-align: left;
  overflow: hidden;
  font-size: 0.8rem;

  &--actions {
    flex: 0 0 200px;
    justify-content: space-evenly;
  }

  &--header {
    font-weight: 500;
    color: $grey-dark;
  }

  &--id {
    font-size: $data-cell-fontSize--id;
  }
}

.row {
  width: 100%;
  padding: 0;
  margin: 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
  }
}
