<div mat-dialog-content class="dialog">
  <mat-card-title class="dialog__title">
    {{ data.name | language }}
  </mat-card-title>
  <app-dynamic-form
    [columns]="data.columns"
    [inputData]="data.inputData"
    [mode]="data.mode"
    [displayDirection]="'column'"
    [labels]="data.labels"
    (submitItem)="submitItem($event)"
    (unpickItem)="onNoClick()"
  >
  </app-dynamic-form>
  <button mat-button mat-dialog-close class="dialog__close">
    <mat-icon fontSet="material-icons-sharp" matSuffix>clear</mat-icon>
  </button>
</div>
