@import "../../../assets/styles/_mixins.scss";

.table-wrapper {
  @include component-wrapper;
  justify-content: flex-start;
  overflow: scroll;
}

.btn-add-row {
  margin: 1em;
  position: relative;
  align-self: flex-end;
}

.table {
  margin: 0.8rem 0;
  width: 90%;

  &__row {
    height: 6vh;
  }
}

.cell {
  margin: 0;
  height: 100%;
  flex-direction: row;

  align-items: center;
  align-content: center;

  &__content {
    font-size: 0.8rem;

    &--id {
      font-size: 0.65rem;
      font-weight: 500;
    }
  }

  &__button {
    // margin: 0 0.5rem;
  }
}

.table-form {
  width: 50%;
}
