<app-section-header [text]="'crud table'"></app-section-header>
<!-- 
  TODO: 
  - wyłapywanie kolumn które zawierają id żeby zmienić ich stylowanie 
  - wyłapywanie kolumny actions żeby wrzucić przyciski 
-->
<div class="crud-table-wrapper">
  <mat-table
    *ngIf="dataSource"
    [dataSource]="dataSource"
    class="crud-table"
    matSort
    [class.mat-elevation-z3]="'true'"
  >
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ col | titlecase }}</mat-header-cell
      >
      <mat-cell *matCellDef="let object" class="crud-table__column">{{
        object[col]
      }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
