<app-section-header [text]="'crud books'"></app-section-header>

<div class="table-wrapper">

  <button
    mat-fab
    color="primary"
    class="btn-add-row"
    (click)="openDialog('add')"
  >
    <mat-icon fontSet="material-icons-outlined" matSuffix>add_box</mat-icon>
  </button>

  <mat-table
    *ngIf="dataSource"
    [dataSource]="dataSource"
    class="table"
    matSort
    [class.mat-elevation-z3]="'true'"
  >
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef>
        {{ col | titlecase }}
      </mat-header-cell>

      <mat-cell *matCellDef="let object" class="cell" [ngSwitch]="col">
        <span *ngSwitchDefault class="cell__content"> {{ object[col] }}</span>

        <span *ngSwitchCase="'id'" class="cell__content cell__content--id">
          {{ object[col] }}</span
        >
        <span
          *ngSwitchCase="'heldByClient'"
          class="cell__content cell__content--id"
        >
          {{ object[col] }}</span
        >
        <span *ngSwitchCase="'actions'" class="cell__content">
          <!-- <button
            mat-mini-fab
            color="primary"
            type="button"
            class="cell__button"
          >
            <mat-icon fontSet="material-icons-outlined" matSuffix
              >edit</mat-icon
            >
          </button> -->

          <!-- <app-edit-item-dialog
            class="btn-add-row"
            *ngIf="items"
            [item]="object"
            [component]="editItemDialogComponent"
          ></app-edit-item-dialog> -->

          <button
            mat-mini-fab
            color="primary"
            class="btn-add-row"
            type="button"
            (click)="openDialog('edit', object)"
          >
            <mat-icon fontSet="material-icons-outlined" matSuffix
              >edit</mat-icon
            >
          </button>

          <button
            mat-mini-fab
            color="warn"
            type="button"
            (click)="onDelete(object)"
            class="cell__button"
          >
            <mat-icon fontSet="material-icons-outlined" matSuffix
              >delete</mat-icon
            >
          </button></span
        >
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="table__row"
    ></mat-row>
  </mat-table>
</div>
