@import "../../../assets/styles/_mixins.scss";
@import "../../../assets/styles/theme.scss";

$data-height: 7vh;
$data-width: 14vw;
$data-width--id: 16vw;
$data-width--actions: 10vw;

.table-wrapper {
  @include component-wrapper;
  justify-content: flex-start;
  overflow: scroll;
}

.table-card {
  width: 90%;
  padding: 0;
  margin: 2em 0;
  background: #fff;
}

tbody > .table__row {
  &:hover {
    background: rgba(150, 150, 150, 0.2);
  }
}

.table {
  width: 100%;
  padding: 0em 1em;
  border-spacing: 0px;

  &__head {
    font-weight: 500;
    color: $grey-dark;
  }

  &__row {
    // height: 10px;
  }

  &__header {
    font-weight: 500;
    color: $grey-dark;
    height: $data-height;

    width: $data-width;
    background: rgba(255, 255, 0, 0.2);
    text-align: left;
    border-bottom: 1px solid $grey-light;

    &--id {
      background: red;
      font-size: smaller;
      width: $data-width--id;
    }
  }

  &__data {
    height: 7vh;

    width: 10vw;
    background: rgba(255, 255, 0, 0.2);
    text-align: left;
    border-bottom: 1px solid $grey-light;

    &--id {
      background: rgba(255, 0, 0, 0.2);
      font-size: smaller;
      width: 16vw;
    }
  }
}

// .btn-add-row {
//   margin: 1em;
//   position: relative;
//   align-self: flex-end;
// }

// .table {
//   margin: 0.8rem 0;
//   width: 90%;

//   &__row {
//     height: 6vh;
//   }
// }

// .cell {
//   margin: 0;
//   height: 100%;
//   flex-direction: row;

//   align-items: center;
//   align-content: center;

//   &__content {
//     font-size: 0.8rem;

//     &--id {
//       font-size: 0.65rem;
//       font-weight: 500;
//     }
//   }

//   &__button {
//     // margin: 0 0.5rem;
//   }
// }

// .table-form {
//   width: 50%;
// }
