<app-section-header [text]="'account-login' | language"></app-section-header>
<div class="login-wrapper">
  <mat-card class="login-form__card" [class.mat-elevation-z3]="'true'">
    <mat-card-title class="login-form__label mat-subheading-1">
      {{ "login-form" | language }}
    </mat-card-title>
    <mat-card-subtitle class="login-form__status">
      {{ status }}
    </mat-card-subtitle>
    <mat-card-content class="login-form__content">
      <app-dynamic-form
        [mode]="'create'"
        [appearance]="'outline'"
        [columns]="columns"
        [labels]="{ submit: 'Submit', reset: 'Clear' }"
        [inputData]="null"
        [displayDirection]="'column'"
        (submitItem)="onSubmit($event)"
        (unpickItem)="resetForm()"
      >
      </app-dynamic-form>
    </mat-card-content>
  </mat-card>
</div>
