<div class="login-wrapper">
  <mat-card class="register-card">
    <mat-card-content class="register-card__content">
      <form class="login-form" [formGroup]="loginForm">
        <mat-form-field
          appearance="outline"
          [style.width.vw]="30"
          class="login-form__item"
        >
          <mat-label>Email</mat-label>
          <input
            #inputEmail
            matInput
            placeholder="Email"
            formControlName="email"
            minLength="10"
            maxlength="60"
          />
          <mat-hint align="start"
            >min symbols: {{ inputEmail.minLength }}</mat-hint
          >
          <mat-hint align="end"
            >{{ inputEmail.value?.length || 0 }}/{{
              inputEmail.maxLength
            }}</mat-hint
          >
          <mat-icon fontSet="material-icons-outlined" matSuffix color="primary"
            >alternate_email</mat-icon
          >
        </mat-form-field>

        <mat-form-field
          [style.width.vw]="30"
          appearance="outline"
          class="login-form__item"
        >
          <mat-label>Password</mat-label>
          <input
            #inputPassword
            matInput
            placeholder="Password"
            formControlName="password"
            minLength="8"
            maxlength="30"
          />
          <mat-hint align="start"
            >min symbols: {{ inputPassword.minLength }}</mat-hint
          >
          <mat-hint align="end"
            >{{ inputPassword.value?.length || 0 }}/{{
              inputPassword.maxLength
            }}</mat-hint
          >
          <mat-icon fontSet="material-icons-outlined" matSuffix color="primary"
            >security</mat-icon
          >
        </mat-form-field>

        <p
          class="mat-subheading-2 add-book-form__warning"
          [style.visibility]="warningVisibility"
        >
          Please provide details.
        </p>

        <div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            SUBMIT
          </button>
        </div>

        <p class="mat-subheading-2 add-book-form__result">
          {{ result }}
        </p>
      </form></mat-card-content
    ></mat-card
  >
</div>
