@import "../../../assets/styles/_mixins.scss";

.login-wrapper {
  @include component-wrapper;
}

.login-form {
  @include auth-form;

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
  }
}
