@import "../../assets/styles/_theme.scss";
@import "../../assets/styles/_mixins.scss";
@import "../../assets/styles/_variables.scss";

.books-wrapper {
  @include component-wrapper;
  background: $wrapper-bg-main;
}
.books {
  width: 100%;
  height: 100%;
}
