@import "../../../assets/styles/_mixins.scss";
@import "../../../assets/styles/theme.scss";

.admin-books-wrapper {
  @include component-wrapper;
  padding: 2em 0;

  justify-content: flex-start;
}

.admin-books-table {
  width: 90%;

  &__column {
    padding: 1.5em 0;
    font-size: 0.85rem;

    &--title {
      width: 5vw;
    }

    &--id {
      font-size: 0.7rem;
      font-weight: 500;
    }
  }
}
