.books-details-wrapper {
  width: 100vw;
  flex-wrap: nowrap;
  display: flex;
}

.books-details-table {
  width: 100%;

  &__column {
    font-weight: 500;
    padding: 1em 0;

    &--id {
      font-size: 0.75em;
    }
  }
}
