@import "../../../../assets/styles/_constants.scss";
@import "../../../../assets/styles/_theme.scss";

.dynamic-filter {
  display: flex;
  width: 90%;
  height: $data-cell-height;
  padding: 0;
  margin: 0;
  background: transparent; // original
  background: #fff; // test
}
