<div *ngIf="columns">
  <form [formGroup]="form" class="dynamic__form">
    <div *ngFor="let col of columns">
      {{ col.label }}
      <div *ngIf="col.inputType === 'text' || col.inputType === 'email'">
        <input type="text" formControlName="{{ col.name }}" />
      </div>

      <div *ngIf="col.inputType === 'number'">
        <input type="{{ col.inputType }}" formControlName="{{ col.name }}" />
      </div>

      <div *ngIf="col.inputType === 'date'">
        <input type="{{ col.inputType }}" formControlName="{{ col.name }}" />
      </div>

      <div *ngIf="col.inputType === 'select'">
        <select formControlName="{{ col.name }}">
          <option *ngFor="let opt of col.options" [value]="opt.value">
            {{ opt.value }}
          </option>
        </select>
      </div>
    </div>
    <button (click)="resetForm()" type="button">Clear</button>
    <button (click)="onSubmit()">Filter</button>
  </form>
</div>
