@import "../../../material/theming.scss";

.add-book-wrapper {
  padding: 2rem;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }

  &__action {
    margin: 0 1em;
  }

  &__warning {
    visibility: hidden;
    color: $warn;
    margin-bottom: 2rem;
  }

  &__result {
    // visibility: hidden;
    color: $primary;
    margin-top: 4rem;
    text-align: center;
  }
}
