<app-header [color]="'accent'"></app-header>
<div class="add-book-wrapper">
  <form class="add-book-form" #addBookForm (ngSubmit)="onSubmit()">
    <mat-form-field
      appearance="fill"
      class="add-book-form__item"
      [style.width.vw]="40"
    >
      <mat-label>Title</mat-label>
      <textarea
        required
        matInput
        #inputTitle
        maxlength="120"
        name="title"
        [(ngModel)]="title"
        [style.height.vh]="10"
      ></textarea>
      <mat-hint align="end"
        >{{ inputTitle.value?.length || 0 }}/{{
          inputTitle.maxLength
        }}</mat-hint
      >
      <mat-icon fontSet="material-icons-outlined" matSuffix color="accent"
        >title</mat-icon
      >
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="add-book-form__item"
      [style.width.vw]="40"
    >
      <mat-label>Author</mat-label>
      <textarea
        required
        matInput
        #inputAuthor
        maxlength="70"
        name="author"
        [(ngModel)]="author"
        [style.height.vh]="10"
      ></textarea>
      <mat-hint align="end"
        >{{ inputAuthor.value?.length || 0 }}/{{
          inputAuthor.maxLength
        }}</mat-hint
      >
      <!-- <example-tel-input required></example-tel-input> -->
      <mat-icon fontSet="material-icons-outlined" matSuffix color="accent"
        >how_to_reg</mat-icon
      >
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="add-book-form__item"
      [style.width.vw]="40"
    >
      <mat-label>Genre</mat-label>
      <input
        required
        matInput
        #inputGenre
        maxlength="25"
        name="genre"
        [(ngModel)]="genre"
        type="text"
        [style.height.vh]="10"
        [ngStyle]="{ 'font-size.px': 35 }"
      />
      <mat-hint align="end"
        >{{ inputGenre.value?.length || 0 }}/{{
          inputGenre.maxLength
        }}</mat-hint
      >
      <!-- <example-tel-input required></example-tel-input> -->
      <mat-icon fontSet="material-icons-outlined" matSuffix color="accent"
        >category</mat-icon
      >
    </mat-form-field>

    <p
      class="mat-subheading-2 add-book-form__warning"
      [style.visibility]="warningVisibility"
    >
      Please provide details.
    </p>

    <section>
      <button
        mat-raised-button
        color="primary"
        (click)="clearForm(addBookForm)"
        class="add-book-form__action"
        type="button"
      >
        CLEAR
      </button>

      <button
        mat-raised-button
        color="accent"
        type="submit"
        class="add-book-form__action"
      >
        SUBMIT
      </button>
    </section>

    <p class="mat-subheading-2 add-book-form__result">
      {{ result }}
    </p>
  </form>
</div>
