@import "~@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink);
$app-warn: mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

.add-book-wrapper {
  padding: 1rem;
  // float: right;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }

  &__submit {
    font-size: 1.5rem;
    padding: 0.5em 0.85em;
  }

  &__warning {
    visibility: hidden;
    color: $warn;
    margin-bottom: 2em;
  }
}
