@import "../../../../assets/styles/theme.scss";
.edit-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__item {
    font-size: 1.3rem;
    margin-bottom: 0.5em;
  }

  &__action {
    margin: 0 1em;
  }

  &__result {
    color: $primary;
    text-align: center;
    height: 5vh;
    width: 100%;
    margin-bottom: 1em;
  }
  &__title {
    padding: 0.5em;
  }
}
