<!-- <app-section-header [text]="'admin: Add book'"></app-section-header> -->
<!-- <div class="add-book-wrapper"> -->

<form
  class="add-book-form"
  [formGroup]="addBookForm"
  (ngSubmit)="onSubmit(addBookForm.value)"
>
  <!-- Title input -->
  <mat-form-field
    appearance="fill"
    [style.width.vw]="30"
    class="add-book-form__item"
  >
    <mat-label>Title</mat-label>
    <textarea
      required
      matInput
      rows="1"
      #inputTitle
      minlength="1"
      maxlength="100"
      formControlName="title"
      name="title"
    ></textarea>
    <mat-hint align="end"
      >{{ inputTitle.value?.length || 0 }}/{{ inputTitle.maxLength }}</mat-hint
    >
    <mat-icon fontSet="material-icons-outlined" matSuffix color="accent"
      >title</mat-icon
    >
  </mat-form-field>

  <!-- Author input -->
  <mat-form-field
    appearance="fill"
    [style.width.vw]="30"
    class="add-book-form__item"
  >
    <mat-label>Author</mat-label>
    <textarea
      required
      matInput
      rows="1"
      #inputAuthor
      minlength="1"
      maxlength="70"
      formControlName="author"
      name="author"
    ></textarea>
    <mat-hint align="end"
      >{{ inputAuthor.value?.length || 0 }}/{{
        inputAuthor.maxLength
      }}</mat-hint
    >
    <mat-icon fontSet="material-icons-outlined" matSuffix color="accent"
      >how_to_reg</mat-icon
    >
  </mat-form-field>

  <!-- Genre input -->
  <mat-form-field
    appearance="fill"
    [style.width.vw]="30"
    class="add-book-form__item"
  >
    <mat-label>Genre</mat-label>
    <input
      type="text"
      required
      matInput
      #inputGenre
      minlength="2"
      maxlength="20"
      formControlName="genre"
      name="genre"
    />
    <mat-hint align="end"
      >{{ inputGenre.value?.length || 0 }}/{{ inputGenre.maxLength }}</mat-hint
    >
    <mat-icon fontSet="material-icons-outlined" matSuffix color="accent"
      >category</mat-icon
    >
  </mat-form-field>

  <p class="mat-subheading-2 add-book-form__result">
    {{ result }}
  </p>
  <section>
    <button
      mat-raised-button
      mat-dialog-close
      color="accent"
      class="add-book-form__action"
    >
      CANCEL
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="addBookForm.reset()"
      class="add-book-form__action"
      type="button"
    >
      CLEAR
    </button>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="add-book-form__action"
      [disabled]="!addBookForm.valid"
    >
      SUBMIT
    </button>
  </section>
</form>

<!-- </div> -->
