@import "../../../assets/styles/_mixins.scss";
@import "../../../assets/styles/_theme.scss";
@import "../../../assets/styles/_variables.scss";

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__action {
    color: $grey-dark;
    margin: 0 0.2em;
  }
}
