@import "../../../assets/styles/_theme.scss";

.title {
  font: 800 1.8rem "Poppins";

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;

  //   color: #fff;
  //   background: $primary;
}
