@import "../../../material/theming.scss";

.title {
  // font-family: "Poppins", sans-serif;
  font: 1.8rem "Poppins";
  margin: 0 1.5em 0 0;
}

.nav {
  justify-content: space-between;

  &__item {
    margin-right: 1rem;

    &--admin {
      // color: $warn;
    }
  }
}

.router-link-active {
  color: $active-link-primary;

  &--admin {
    color: $active-link-secondary;
  }
}
