<header class="header">
  <mat-toolbar [color]="color" class="nav">
    <div class="mat-title title">Book Rental</div>
    <nav>
      <button class="nav__item" mat-button routerLink="/">Home</button>
      <button class="nav__item" mat-button routerLink="/rental/books">
        Rental section
      </button>

      <button class="nav__item" mat-button routerLink="/admin/books">
        Admin Books
      </button>

      <button class="nav__item" mat-button routerLink="/admin/books/add">
        Admin Add Book
      </button>
    </nav>
  </mat-toolbar>
</header>
