<!-- 
  The other speciality about using brackets specifically for routerLink
  is that you can pass dynamic parameters to the link you're 
  navigating to:

  #ts:
  export class myComponent {
    public routerLinkVariable = "/home"
        private dynamicParameter = '129';

  #html:
  <a [routerLink]="[routerLinkVariable,dynamicParameter]"></a>
 -->

<mat-toolbar color="primary" class="nav" style="min-height: 7vh;">
  <app-logo></app-logo>
  <nav>
    <button class="nav__item" mat-button [routerLink]="['']">
      {{ "nav-home" | language }}
    </button>
    <button class="nav__item" mat-button [routerLink]="['rental']">
      {{ "nav-rental" | language }}
    </button>

    <!-- Account Menu -->
    <button class="nav__item" mat-stroked-button [matMenuTriggerFor]="account">
      <!-- <div *ngIf="authUser && authUser.email">{{ authUser.email }}</div>
      <div *ngIf="!authUser">{{ "nav-account" | language }}</div> -->

      <div *ngIf="auth">
        <div>{{ auth.email }}</div>
      </div>
      <div *ngIf="!auth">
        <div>{{ "nav-account" | language }}</div>
      </div>
    </button>
    <mat-menu #account="matMenu">
      <button mat-menu-item [routerLink]="['account/login']">
        {{ "account-login" | language }}
      </button>
      <button mat-menu-item [routerLink]="['account/register']">
        {{ "account-register" | language }}
      </button>

      <button mat-menu-item (click)="logout()" [routerLink]="['']">
        {{ "account-logout" | language }}
      </button>
    </mat-menu>

    <!-- Admin Menu -->
    <button class="nav__item" mat-button [routerLink]="['admin']">
      Admin
    </button>
    <!-- 
    <button
      class="nav__item nav__item--admin"
      mat-raised-button
      [matMenuTriggerFor]="admin"
    >
      {{ "nav-admin" | language }}
    </button>
    <mat-menu #admin="matMenu">
      <button mat-menu-item [routerLink]="['admin/books']">
        {{ "admin-books" | language }}
      </button>
      <button mat-menu-item [routerLink]="['admin/users']">
        {{ "admin-users" | language }}
      </button>
    </mat-menu> -->
  </nav>
</mat-toolbar>
