<!-- 
  The other speciality about using brackets specifically for routerLink
  is that you can pass dynamic parameters to the link you're 
  navigating to:

  #ts:
  export class myComponent {
    public routerLinkVariable = "/home"
        private dynamicParameter = '129';

  #html:
  <a [routerLink]="[routerLinkVariable,dynamicParameter]"></a>
 -->

<mat-toolbar [color]="backgroundColor" class="nav">
  <div class="mat-title title">
    Rentbook
  </div>

  <nav>
    <button class="nav__item" mat-button [routerLink]="['']">
      Home
    </button>
    <button class="nav__item" mat-button [routerLink]="['rental/books']">
      Rental
    </button>

    <!-- Account Menu -->
    <button class="nav__item" mat-stroked-button [matMenuTriggerFor]="account">
      {{ accountButtonText }}
    </button>
    <mat-menu #account="matMenu">
      <button mat-menu-item [routerLink]="['account/login']">
        Log in
      </button>
      <button mat-menu-item [routerLink]="['account/register']">
        Register new account
      </button>

      <!-- <button mat-menu-item [routerLink]="['account/password-reset']">
        Reset your password
      </button> -->

      <button mat-menu-item (click)="logout()" [routerLink]="['']">
        Log out
      </button>
    </mat-menu>

    <!-- Admin Menu -->
    <button
      class="nav__item nav__item--admin"
      mat-raised-button
      [matMenuTriggerFor]="admin"
    >
      Admin
    </button>
    <mat-menu #admin="matMenu">
      <button mat-menu-item [routerLink]="['admin/books/crud']">
        admin: Books
      </button>
      <button mat-menu-item [routerLink]="['admin/books/add']">
        admin: add book
      </button>
      <button mat-menu-item [routerLink]="['admin/books/crud2']">
        admin: Books2
      </button>
    </mat-menu>
  </nav>
</mat-toolbar>
