<app-section-header [text]="'Register new account'"></app-section-header>
<div class="register-wrapper">
  <mat-card class="register-card" [class.mat-elevation-z3]="'true'">
    <mat-card-content class="register-card__content">
      <form
        class="register-form"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit(registerForm.value)"
      >
        <mat-card-title class="register-card__title">
          Register form
        </mat-card-title>

        <!-- Email input -->
        <mat-form-field
          appearance="outline"
          [style.width.vw]="30"
          class="register-form__item"
        >
          <mat-label>Email</mat-label>
          <input
            #inputEmail
            matInput
            placeholder="Email"
            formControlName="email"
            minLength="5"
            maxlength="60"
          />
          <mat-hint align="start"
            >min symbols: {{ inputEmail.minLength }}</mat-hint
          >
          <mat-hint align="end"
            >{{ inputEmail.value?.length || 0 }}/{{
              inputEmail.maxLength
            }}</mat-hint
          >
          <mat-icon fontSet="material-icons-outlined" matSuffix color="primary"
            >alternate_email</mat-icon
          >
        </mat-form-field>

        <mat-form-field
          [style.width.vw]="30"
          appearance="outline"
          class="register-form__item"
        >
          <mat-label>Password</mat-label>
          <input
            #inputPassword
            matInput
            placeholder="Password"
            formControlName="password"
            minLength="8"
            maxlength="30"
          />
          <mat-hint align="start"
            >min symbols: {{ inputPassword.minLength }}</mat-hint
          >
          <mat-hint align="end"
            >{{ inputPassword.value?.length || 0 }}/{{
              inputPassword.maxLength
            }}</mat-hint
          >
          <mat-icon fontSet="material-icons-outlined" matSuffix color="primary"
            >security</mat-icon
          >
        </mat-form-field>

        <p class="mat-subheading-2 register-form__result">
          {{ resultMessage }}
        </p>

        <div class="register-form__buttons">
          <button
            mat-raised-button
            color="accent"
            type="button"
            (click)="registerForm.reset()"
          >
            CLEAR
          </button>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!registerForm.valid"
          >
            SUBMIT
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
