<mat-toolbar class="nav" style="min-height: 7vh;">
  <mat-toolbar-row class="row">
    <div class="mat-title subtitle">{{ "nav-admin" | language }}</div>
    <nav class="admin-nav">
      <button
        mat-button
        routerLink="./"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="admin-nav__item"
      >
        {{ "admin-dashboard" | language }}
      </button>
      <button
        mat-button
        routerLink="./users"
        routerLinkActive="active"
        class="admin-nav__item"
      >
        {{ "admin-users" | language }}
      </button>
      <button
        mat-button
        routerLink="./books"
        routerLinkActive="active"
        class="admin-nav__item"
      >
        {{ "admin-books" | language }}
      </button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
