@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/_theme.scss";

.dynamic-form {
  border-top: 1px solid $grey-light;

  height: $data-cell-height;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
  overflow: hidden;

  &__row {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.input--id {
  font-size: $data-cell-fontSize--id;
}

.row__content {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: $data-cell-height;
  width: 100%;
}

.column {
  flex: 1 0 200px;

  display: flex;
  align-content: center;
  align-items: center;
  height: $data-cell-height;

  margin: 0;
  padding: 0;

  &--actions {
    justify-content: space-evenly;
    flex-basis: 0 0 200px;
  }
}

.control {
  height: $data-cell-height;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;

  &--nonedit {
    align-self: flex-end;
    font-style: italic;
    font-size: $data-cell-fontSize--id;
  }

  &--datepicker {
  }

  &--select {
    height: initial;
  }

  &__date-input {
    // width: 90%;
  }
}

.picker-toggler {
  height: 0;
}

.picker {
  height: 0;
}

.icon {
  height: 0;
}
