<div *ngIf="columns">
  <form [formGroup]="form" class="dynamic-form">
    <div *ngFor="let col of columns" class="control-wrapper">
      <!-- If editable, render input -->
      <section
        *ngIf="col.editable"
        class="control-wrapper__content"
        [class.input--id]="col.name === 'id'"
      >
        <div *ngIf="!inputData" class="control-wrapper__label">
          {{ col.label }}
        </div>
        <div
          *ngIf="col.inputType === 'text' || col.inputType === 'email'"
          class="control-wrapper__label"
        >
          <input type="text" formControlName="{{ col.name }}" />
        </div>

        <div *ngIf="col.inputType === 'number'">
          <input type="{{ col.inputType }}" formControlName="{{ col.name }}" />
        </div>

        <div *ngIf="col.inputType === 'date'">
          <input type="{{ col.inputType }}" formControlName="{{ col.name }}" />
        </div>

        <div *ngIf="col.inputType === 'select'">
          <select formControlName="{{ col.name }}">
            <option *ngFor="let opt of col.options" [value]="opt.value">
              {{ opt.value }}
            </option>
          </select>
        </div>
      </section>

      <!-- If not editable, render value and info -->
      <section
        *ngIf="!col.editable"
        class="control-wrapper__content"
        [class.input--id]="col.name === 'id'"
      >
        <div *ngIf="!inputData" class="control-wrapper__label">
          {{ col.label }}
        </div>
        <div>
          <span *ngIf="inputData">
            {{ inputData[col.name] }}
          </span>
          <span *ngIf="!inputData">
            [automatically assigned]
          </span>
        </div>
      </section>
    </div>
    <button (click)="resetForm()" type="button" class="dynamic-form__button">
      {{ labels.reset }}
    </button>
    <button (click)="onSubmit()" class="dynamic-form__button">
      {{ labels.submit }}
    </button>
  </form>
</div>
