.list {
  width: 100%;
  height: 100%;
  text-decoration: none;
  list-style: none;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: scroll;
}
