@import "../../assets/styles/_mixins.scss";
@import "../../assets/styles/_theme.scss";
@import "../../assets/styles/_variables.scss";

// Table
.table-wrapper {
  @include component-wrapper;
  justify-content: flex-start;
  overflow: hidden;
  // justify-content: space-between;
}

.table {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 100%;
  padding: 0;
  margin: 0;

  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;

  &__card {
    width: 90%;
    padding: 0em 1em 1em 1em;
    // margin: 1em 0;
    margin-top: 5vh;
    background: #fff;
  }

  &__status {
    width: 100%;
    padding: 2rem 0 0 6rem;
    text-align: left;
  }
}
.row {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px solid $grey-light;

  &--headers {
    border: none;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;

    align-content: center;
    align-items: center;
  }
}

.column {
  flex: 1 1 200px;
  display: flex;
  align-items: center;
  height: $data-cell-height;
  text-align: left;
  overflow: hidden;

  &--header {
    font-weight: 500;
    color: $grey-dark;
  }

  &--actions {
    justify-content: space-evenly;
    flex: 0 0 200px;
  }

  &--id {
    font-size: $data-cell-fontSize--id;
  }
}

// Forms included in table
.create-item-form-wrapper {
  @include component-wrapper;

  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 100%;
  padding-top: 2em;

  &--modal {
    width: 90%;
    justify-content: flex-end;
  }
}

.create-item-form {
  width: 100%;
  height: 100%;

  &__label {
    padding: 0;
    font-size: 1rem;
  }

  &__card {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;

    width: 90%;
    height: $data-cell-height * 3;
    padding: 1em;
    // margin: 1em 0;
    margin-bottom: 1em;
    background: #fff;
  }

  &__button {
    margin-bottom: 1em;
  }
}

.edit-item-form {
  width: 100%;
  height: $data-cell-height;
}

.paginator-wrapper {
  display: flex;
  padding: 0.4em;
  justify-content: center;
}
