<form [formGroup]="testForm">
  <div formGroupName="roles">
    <h3>Address</h3>

    <!-- <div *ngFor="let item of roles | keyvalue">
      Object Key:{{ item.key }} and Object Value:{{ item.value }}
    </div> -->
    <label>
      <input type="checkbox" formControlName="role_USER" />
    </label>

    <label>
      City:
      <input type="checkbox" formControlName="role_ADMIN" />
    </label>
  </div>
  <button type="submit" [disabled]="!testForm.valid">Submit</button>
</form>

<form
  [formGroup]="mainForm"
  (ngSubmit)="onSubmit(mainForm.value)"
  class="dynamic-form"
  [class.mat-elevation-z3]="'true'"
  [ngStyle]="{ width: '100%' }"
>
  <section class="dynamic-form__inputs">
    <div *ngFor="let form_elem of inputConfigs">
      <div [ngSwitch]="form_elem.label">
        <!-- Don't render inputs with automated values -->

        <div *ngSwitchCase="'id'"></div>
        <div *ngSwitchCase="'dateAdded'"></div>

        <!-- Render other inputs -->
        <div *ngSwitchDefault>
          <div [ngSwitch]="form_elem.type">
            <!-- text input -->
            <mat-form-field
              *ngSwitchCase="'text'"
              appearance="outline"
              [ngStyle]="{ 'margin-bottom': '-1.25em', width: '10vw' }"
              class="dynamic-form__item"
            >
              <input
                matInput
                placeholder="{{ form_elem.label | titlecase }}"
                type="text"
                value="{{ form_elem.value }}"
                maxlength="60"
                formControlName="{{ form_elem.label }}"
              />
            </mat-form-field>

            <!-- number input -->
            <mat-form-field
              *ngSwitchCase="'number'"
              appearance="outline"
              [style.width.vw]="10"
              class="dynamic-form__item"
            >
              <input type="number" formControlName="{{ form_elem.label }}" />
            </mat-form-field>

            <!-- select input -->
            <mat-form-field
              *ngSwitchCase="'select'"
              appearance="outline"
              [style.width.vw]="10"
              class="dynamic-form__item"
            >
              <select formControlName="{{ form_elem.label }}">
                <option *ngFor="let opt of form_elem.options">
                  {{ opt }}
                </option>
              </select>
            </mat-form-field>

            <!-- radio input -->
            <mat-radio-group
              *ngSwitchCase="'radio'"
              appearance="outline"
              [style.width.vw]="10"
              formControlName="{{ form_elem.label }}"
              class="dynamic-form__item"
            >
              <mat-label class="dynamic-form__label"
                >{{ form_elem.label | uppercase }}:
              </mat-label>

              <mat-radio-button value="true"> Yes </mat-radio-button>
              <mat-radio-button value="false"> No </mat-radio-button>
            </mat-radio-group>

            <!-- checkbox input -->
            <mat-form-field
              *ngSwitchCase="'checkbox'"
              appearance="outline"
              [style.width.vw]="10"
              formControlName="{{ form_elem.label }}"
              class="dynamic-form__item"
            >
              Option
              <input type="checkbox" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </section>
  <button
    mat-mini-fab
    color="accent"
    class="dynamic-form__submit"
    type="submit"
  >
    <mat-icon fontSet="material-icons-outlined" matSuffix>add</mat-icon>
  </button>
</form>
